/* Body */
body {
    background-color: rgb(241, 241, 241);
}

/* Headaer */
.thebooleaner {
    background-color: rgb(0, 140, 255);
    background-image: url(../img/pattern.png);
    background-repeat: initial;
    width: 200%;
}

.logo {
    width: 150px;
}

/* Main */

/* sezionetitolonews */
.titolo1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bolder;
}

.sottotestotitolo1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(128, 128, 128);
}

.booleaner {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 183, 255);
}

.datanews {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: rgb(128, 128, 128);
}
/* fine sezionetitolonews */

/* sezioneimgtim */
.didascaliaimg {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}
/* fine sezioneimgtim */

/* inizio sezionelistaetabella */
.testatabella {
    background-color: rgb(0, 140, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: aliceblue;
}

.primariga {
    background-color: rgba(0, 140, 255, 0.37);
    font-family: 'Times New Roman', Times, serif
}

.testoimportante {
    background-color: yellow;
    font-weight: normal;
}
/* fine sezionelistaetabella */
.testosuimmagine
/* inizio sezionetestosuimmagini */